*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: #f5f5f5; */
}
.flex{
    display: flex;
    justify-content: space-between;
}

header{
  background-image: url(images/image-hero-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
    img{
        margin: 40px 60px;
  
  }
  .cancels{
    display: none;
  }

  nav{
    margin: 40px 60px;
    ul li{
       list-style-type: none;
        float: left;
        margin: 7px;
        a{
          text-decoration: none;
          color: #fff;
          font-size: 16px;
        }
    }
    }

  }
  
  main{
  background-color: #f5f5f5;
    .main-container{
      position: relative;
      top: -80px;
      width: 60%;
      margin: 0 auto;
      section.section1{
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        #m-image{
          position: absolute;
          top: -20px;
          left: 50%;
        }
        h1{
          text-align: center;
          font-size:2.5rem;
           margin-bottom: 8px;
           padding-top: 20px;
        }
        p{
          color: hsl(0, 0%, 48%);
          font-size: 20px;
          text-align: center;
          
         
        }
        div.text-div{
         padding-top: 40px;
         align-items: center;
         >a{
           background-color: hsl(176, 50%, 47%);
           border-radius: 15px;
           margin-top: 7px;
           margin-bottom: 0;
           padding: 15px 8px;
           text-decoration: none;
           color: #fff;
           &:hover{
                background-color: hsl(176, 72%, 28%);
           }
         }
       div{
        align-items: center;
        gap: 8px;
        background-color: #f5f5f5;
        border-radius: 10px;
        padding: 0px 8px;
        
        >a{
           text-decoration: none;
           color: hsl(0, 0%, 48%);
            &:hover{
            color: hsl(176, 50%, 47%);
           }
          
        }
       
       }
         }
        }

        section.section2{
          background-color: #fff;
          margin-top: 20px;
          padding: 40px;
          border-radius: 15px;
          .section2-text{
            display: flex;
            justify-content: space-around;

          }
          div.first-div{
            margin-top: 20px;
            width: 90%;
            height: 10px;
            margin-left: 40px;
            background-color: #f4f4f4;
            border-radius: 10px;
            div.second-div{
              width: 90%;
              height: 100%;
              background-color: hsl(176, 72%, 28%);
              border-radius: 10px;
            }
          
          }
            
          
        }
        section.section3{
        background-color: #fff;
        margin-top: 15px;
        border-radius: 15px;
        >div{
          padding: 30px 60px;
          >div{
            >p{
              margin-top: 20px;
              color: hsl(0, 0%, 48%);
            }
          }
          }
          article{
            border: 1px solid hsl(0,0%,0%);
            margin-top: 20px;
            border-radius: 15px;
            padding: 20px;
            >div{
              >p{
                color: hsl(176, 72%, 28%);
              }
            }
            >p{
              margin-top: 10px;
              margin-bottom: 10px;
               color: hsl(0, 0%, 48%);
            }
            button{
             background-color: hsl(176, 72%, 28%);
             padding: 15px;
             border: none;
             border-radius: 15px;
             color: #fff;

            }
            sup{
              color: hsl(0, 0%, 48%);
            }
          }
          article.faded{
            background-color: #f4f4f4;
            opacity: 0.6;
           
            }
          }
          
        }
        section.selected{
            background-color: rgba(0,0,0,0.6);
            position: fixed;
            height: 100%;
            width: 100%;
             top: 0;
           left: 0;
           z-index: 2;
           display: none;
           
            >div{
              background-color: #fff;
              width: 80%;
              max-width: 600px;
              max-height: 90%;
              margin: 60px auto;
              padding: 30px;
               overflow-y: auto;
             
              >div{
                >article{
                  border: 1px solid hsl(0,0%,0%);
            margin-top: 20px;
            border-radius: 15px;
            padding: 20px;
                }
              }
           .margin{
            margin-top: 10px;
           }
            }
           .selected-div{
          align-items: center;
           gap: 10px;
           a{
            color: hsl(176, 72%, 28%);
            text-decoration: none;
           }
            
           }
           
          }
          section.completed{
            background-color: rgba(0,0,0,0.6);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            display: none;
            >div{
              width: 50%;
              height: 45vh;
             margin: 200px auto;
              max-width: 400px;
              background-color: #fff;
              padding: 20px;
              >p,h2{
                text-align: center;
                padding: 7px;
               
              }
              >img{
                display: block;
                margin: 0px auto;
               
              }
              >button{
                display: block;
                margin: 20px auto;
                background-color: hsl(176, 72%, 28%);
                border: none;
                border-radius: 10px;
                padding: 10px 30px;
                font-size: 16px;
                
                
              }
            }
          }
        }

    #mobile-nav{
	position: fixed;
	width:100%;
	height: 100vh;
  padding: 30px 40px;
	top:0px;
	left: 0px;
	background-color: hsla(229, 31%, 21%, 0.9);
	z-index: 3;
	display: none;
	text-align: start;

   nav{
    background-color: white;
    width: 80%;
    margin: 50px auto;
     border-radius: 15px;
   ul li{
    padding: 15px;
    list-style: none;
    hr{
      border: 0.1px solid whitesmoke;
    }
    
   
    a{
      text-decoration: none;
      font-size: 20px;
      
    }
   }
 
   }

}

 
    @media screen and (max-width:700px) {
        header{
          background-image: url(./images/image-hero-mobile.jpg);
          nav{
            display: none;
          }
          .cancels{
            display: block;
                     
          }
          
        }
      
        section.section1{
        .bookmark{
        display: none;
        }
      }
      section.section2{
        div.section2-text{
        display: flex;
        flex-direction: column;
       text-align: center;
        div{
          padding: 20px;
        }
        
      }
      div.first-div{
        background-color: brown;
      }
      
      }

      section.section3{
        article div {
          flex-direction: column;
          gap: 10px;
         padding: 5px;
          button{
            width: 60%;
          }
        }
      }
     
    


    }
      